@{
    ViewData["Title"] = "About";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/AboutCSS.css" />
</environment>

<br/>

<img src="~/images/aimslogo.svg" alt="aims_companies" class="center-block"/>

<p>
    <h2>Safe, Reliable, and Secure</h2>
    <br />
    Maria and Chris Mihaletos came to the United States with the dream and passion to build a turnkey operation providing inspection and cleaning services to the industrial community. With good banking and capital behind them, they set out on the road to establishing a presence in this industry throughout the country.
    <br />
    It all began in 2005, when they acquired the Pipeline Video Inspection (PVIC) division of AIMS/PVIC. In 2007, they added AIMS to the fold which provided hydro blasting, industrial vacuuming/cleaning and steel and concrete cutting services. Six months later, they added AIMS Coatings, to provide clients with the complimentary service of coatings and liners.
    <br />
    In 2012, AIMS established a California division and in 2013, an Oregon division. Later that same year, the Women’s Business Enterprise National Council (WBENC) certified the company as a woman-owned business.
    <br />
    CleanServe Inc., a pipe cleaning and inspection service company headquartered in Pearland, Texas joined the company in 2014 upon acquisition and in 2015, the Rocky Mountain division was established. In 2016, we established divisions in both Sacramento, CA and Dallas, TX to further service our clients in those states.
    <br />
    ‍<br />

    Maria Mihaletos, CEO of AIMS Companies
    <br />
    "After those three acquisitions, we decided that due to the volatile economic climate at the time, we would hold off on further acquisitions and grow organically," says Maria Mihaletos. "From 2008 to 2018, we’ve grown into a multimillion-dollar a year company in terms of gross revenues," said Mihaletos.
    <br />
    Headquartered in Scottsdale, AZ, the company has grown exponentially over the past 13 years and has amassed a large fleet of equipment, investing millions of dollars in the machines and vehicles necessary to provide the best-in-class industrial and municipal cleaning services that customers have come to expect.
    <br />
    AIMS is proud to be woman-owned (certified WBENC) and to have partnered with some of the best customers in the industrial and municipal services industry. AIMS strives for excellence in every encounter with customers and works hard to build and maintain relationships based on best-in-class service.
    <br />
    Safety first, last, and always.
</p>
