@{
    ViewData["Title"] = "Files";
}

<html>
    <head>
        <environment include="Development">
            <link rel="stylesheet" href="~/css/FilesCSS.css"/>
        </environment>
    </head>
</html>

<br />

<img src="~/images/aimslogo.svg" alt="aims_companies" class="center-block"/>

<br />

<div class="aims-logo">
    <h3 class="center-block">Browse Your Deliverables</h3>
</div>

<br />

<div class="md-form active-cyan active-cyan-2 mb-3">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>

<table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">
                Name
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Company
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Date of Job
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Download
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1616 S 31st Avenue</td>
            <td>AIMS Companies</td>
            <td>2018/10/30</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>1616 S 31st Avenue</td>
            <td>AIMS Companies</td>
            <td>2018/10/30</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>1616 S 31st Avenue</td>
            <td>AIMS Companies</td>
            <td>2018/10/30</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>1616 S 31st Avenue</td>
            <td>AIMS Companies</td>
            <td>2018/10/30</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>S Chandler Heights</td>
            <td>Dibble Engineering</td>
            <td>2018/10/30</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>S Chandler Heights</td>
            <td>Dibble Engineering</td>
            <td>2018/10/30</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>S Chandler Heights</td>
            <td>Dibble Engineering</td>
            <td>2018/10/30</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>S Chandler Heights</td>
            <td>Dibble Engineering</td>
            <td>2018/10/30</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>4716 North 12th Street</td>
            <td>Spend Money Construction</td>
            <td>2018/11/15</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>4716 North 12th Street</td>
            <td>Spend Money Construction</td>
            <td>2018/11/15</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>4716 North 12th Street</td>
            <td>Spend Money Construction</td>
            <td>2018/11/15</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>4716 North 12th Street</td>
            <td>Spend Money Construction</td>
            <td>2018/11/15</td>
            <td>Download Link Here</td>
        </tr>
    </tbody>
</table>

<environment include="Development">
   <script src="~/js/FilesScript.js"></script>
</environment>