@{
    ViewData["Title"] = "Files";
}

<html>
    <head>
        <environment include="Development">
            <link rel="stylesheet" href="~/css/FilesCSS.css"/>
        </environment>
    </head>
</html>

<h2>Files</h2>

<div class="md-form active-cyan active-cyan-2 mb-3">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>

<table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="th-sm">
                Name
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Company
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Date of Job
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
            <th class="th-sm">
                Download
                <i class="fa fa-sort float-right" aria-hidden="true"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>E Chandler Heights</td>
            <td>AIMS Companies</td>
            <td>2011/04/25</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>E Chandler Heights</td>
            <td>AIMS Companies</td>
            <td>2011/04/25</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>E Chandler Heights</td>
            <td>AIMS Companies</td>
            <td>2011/04/25</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>E Chandler Heights</td>
            <td>AIMS Companies</td>
            <td>2011/04/25</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>E Chandler Heights</td>
            <td>AIMS Companies</td>
            <td>2011/04/25</td>
            <td>Download Link Here</td>
        <tr>
            <td>E Chandler Heights</td>
            <td>AIMS Companies</td>
            <td>2011/04/25</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>E Chandler Heights</td>
            <td>AIMS Companies</td>
            <td>2011/04/25</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>E Chandler Heights</td>
            <td>AIMS Companies</td>
            <td>2011/04/25</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>E Chandler Heights</td>
            <td>AIMS Companies</td>
            <td>2011/04/25</td>
            <td>Download Link Here</td>
        </tr>
        <tr>
            <td>E Chandler Heights</td>
            <td>AIMS Companies</td>
            <td>2011/04/25</td>
            <td>Download Link Here</td>
        </tr>

        </tr>
    </tbody>
</table>

<environment include="Development">
   <script src="~/js/FilesScript.js"></script>
</environment>