<environment include="Development">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/UploadFilesCSS.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</environment>

<br />

<div class="contact-image">
    <img src="~/images/aimslogo.svg" alt="aims_companies" class="center-block"/>
</div>

<br />

<form>
    <div class="form-group">
        <label for="inputCompany">Company Name</label>
        <br />
        
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select A Company
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                <li><a href="#" data-value="aims companies">AIMS Companies</a></li>
                <li><a href="#" data-value="blucor contracting">BluCor Contracting</a></li>
                <li><a href="#" data-value="dibble engineering">Dibble Engineering</a></li>
                <li><a href="#" data-value="sahuaro contracting">Sahuaro Contracting</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" data-value="create new">Create New Company</a></li>
            </ul>
        </div>

        <br />
        <label for="inputLocation">Job Location</label>
        <input type="text" class="form-control" id="inputLocation" placeholder="Job Location" />
        <br />
        <label for="inputDate">Date Completed</label>
        <input type="datetime" class="form-control" id="inputDate" placeholder="Year/Month/Date" />
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <br><br>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" readonly>
                    <div class="input-group-btn">
                        <span class="fileUpload btn btn-info">
                            <span class="upl" id="upload">Upload Your File(s)</span>
                            <input type="file" class="upload up" id="up" onchange="readURL(this);" multiple />
                        </span><!-- btn-orange -->
                    </div><!-- btn -->
                </div><!-- group -->
            </div><!-- form-group -->
        </div>
    </div>
</div>
<input class="btn btn-primary" type="submit" value="Submit">

<script>
    $(".dropdown-menu li a").click(function () {
        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    });
</script>