<br />

<environment include="Development">
    <link rel="stylesheet" href="~/css/UploadFilesCSS.css"/>
</environment>

<div class="contact-image">
    <img src="~/images/aimslogo.svg" alt="aims_companies" class="center-block"/>
</div>

<br />

<form>
    <div class="form-group">
        <label for="inputCompany">Company Name</label>
        <br />
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select A Company
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" href="#">AIMS Companies</a>
                <br />
                <a class="dropdown-item" href="#">Dibble Engineering</a>
                <br />
                <a class="dropdown-item" href="#">Sahuaro Contracting</a>
                <br />
                <a class="dropdown-item" href="#">BluCor Contracting</a>
                <br />
                <div class="dropdown-divider"></div>
                <br />
                <a class="dropdown-item" href="#">Add New Company</a>
            </div>
        </div>
        <br />
        <br />
        <label for="inputLocation">Job Location</label>
        <input type="text" class="form-control" id="inputLocation" placeholder="Job Location" />
        <br />
        <label for="inputDate">Date Completed</label>
        <input type="datetime" class="form-control" id="inputDate" placeholder="Year/Month/Date" />
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <br><br>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" readonly>
                    <div class="input-group-btn">
                        <span class="fileUpload btn btn-info">
                            <span class="upl" id="upload">Upload Your File(s)</span>
                            <input type="file" class="upload up" id="up" onchange="readURL(this);" multiple />
                        </span><!-- btn-orange -->
                    </div><!-- btn -->
                </div><!-- group -->
            </div><!-- form-group -->
        </div>
    </div>
</div>
<input class="btn btn-primary" type="submit" value="Submit">