@{
    ViewData["Title"] = "Upload";
}


<br />

<environment include="Development">
    <link rel="stylesheet" href="~/css/UploadFilesCSS.css"/>
</environment>

<div class="contact-image">
    <img src="~/images/aimslogo.svg" alt="aims_companies" class="center-block"/>
</div>

<h3>Upload Your Files!</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <br><br>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" readonly>
                    <div class="input-group-btn">
                        <span class="fileUpload btn btn-info">
                            <span class="upl" id="upload">Upload Your File(s)</span>
                            <input type="file" class="upload up" id="up" onchange="readURL(this);" multiple />
                        </span><!-- btn-orange -->
                    </div><!-- btn -->
                </div><!-- group -->
            </div><!-- form-group -->
        </div>
    </div>
