@{
    ViewData["Title"] = "Upload";
}
<h2>@ViewData["Title"]</h2>




<div class="form-group">
    <form>
        <div class="form-group">
            <label for="exampleFormControlFile1">Upload Your Deliverables Here</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </form>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>